GAUSSIAN_DATA_ROOT=
GAUSSIAN_HOST=127.0.0.1
GAUSSIAN_PORT=4178
GAUSSIAN_MAX_UPLOAD_BYTES=2147483648
GAUSSIAN_MAX_WORKERS=1
FFMPEG_BIN=/usr/bin/ffmpeg
FFPROBE_BIN=/usr/bin/ffprobe
COLMAP_BIN=/usr/local/bin/colmap
BRUSH_BIN=/usr/local/bin/brush-cli
BRUSH_EXTRA_ARGS=
CUBECL_WGPU_DEFAULT_DEVICE=DiscreteGpu(0)
API_CORS_ORIGINS=http://127.0.0.1:4177,http://localhost:4177
